<html>
<head>
    <title> Music player </title>

    <h2> Welcome to Music player </h2>
</head>

<body>

    <div>
        <table id="music" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>Music</th>
                    <th>Genre</th>
                </tr>
                <tr>
                    <td>Ninety one - Senorita</td>
                    <td>Qpop</td>
                </tr>
                <tr>
                    <td>Ed Sheeran - Shape of you</td>
                    <td>Pop</td>
                </tr>
                <tr>
                    <td>BTS - Dynamite</td>
                    <td>Kpop</td>
                </tr>

                <tr>
                    <td>Hozier - Take me to church</td>
                    <td>Pop</td>
                </tr>
            </thead>
            <tbody>
            </tbody>
        </table>

    </div>
</body>
<style>

    body{
        background-color:lavender;
    }
    table{
        background-color:snow;
    }
</style>

</html>